<nav class="navbar navbar-expand-lg navbar-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand ">Calender</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="setpoint navbar-nav mr-auto">
            <li class="nav-item"><a class="">Day</a></li>
            <li class="nav-item"><a class="">Week</a></li>
            <li class="nav-item"><a class="">Month</a></li>
        </ul>
        <ul class="setpo navbar-nav mr-auto">
            <li class="nav-item"><a class="active">Today</a></li>
        </ul>
        <button class="readbtn0"><</button>

        <button class="readbtn1">></button>

        <div class="container-fluid">
            <b>FEBRUARY</b>
        </div>
        <form class="form-inline ">
            <ul class="navbar-nav mr-auto">
                <li class="t">
                    <i class="fa-solid fa-gear"></i><a class="nav-link active"> Settings </a>
                </li>
                <li class="t">
                    <i class="fa-sharp fa-solid fa-circle-question"></i> <a class="nav-link active"> Help</a>
                </li>
            </ul>
        </form>
    </div>
</nav>
