<div class="container-fluid">
    <div class="row">
        <div class="col">
            <br>
            <span style="margin-left:18px ;">< &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Februray 2021&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;></span>
            <table class="tableset">
                <tr class="tabletr">
                    <td class="tabletd">M</td>
                    <td class="tabletd">T</td>
                    <td class="tabletd">W</td>
                    <td class="tabletd">T</td>
                    <td class="tabletd">F</td>
                    <td class="tabletd">S</td>
                    <td class="tabletd">S</td>
                </tr>
                <tr class="tabletr">
                    <td class="tabletd"></td>
                    <td class="tabletd"></td>
                    <td class="tabletd"></td>
                    <td class="tabletd"></td>
                    <td class="tabletd">1</td>
                    <td class="tabletd">2</td>
                    <td class="tabletd">3</td>
                </tr>
                <tr class="tabletr">

                    <td class="tabletd">4</td>
                    <td class="tabletd">5</td>
                    <td class="tabletd">6</td>
                    <td class="tabletd">7</td>
                    <td class="tabletd">8</td>
                    <td class="tabletd">9</td>
                    <td class="tabletd">10</td>
                </tr>
                <tr class="tabletr">
                    <td class="tabletd">11</td>
                    <td class="tabletd">12</td>
                    <td class="tabletd">13</td>
                    <td class="tabletd">14</td>
                    <td class="tabletd">15</td>
                    <td class="tabletd">16</td>
                    <td class="tabletd">17</td>
                </tr>
                <tr class="tabletr">
                    <td class="tabletd">18</td>
                    <td class="tabletd">19</td>
                    <td class="tabletd">20</td>
                    <td class="tabletd">21</td>
                    <td class="tabletd">22</td>
                    <td class="tabletd">23</td>
                    <td class="tabletd">24</td>
                </tr>
                <tr class="tabletr">
                    <td class="tabletd">25</td>
                    <td class="tabletd">26</td>
                    <td class="tabletd">27</td>
                    <td class="tabletd">28</td>
                    <td class="tabletd">1</td>
                    <td class="tabletd">2</td>
                    <td class="tabletd">3</td>
                </tr>
            </table>


            <br>
            <hr class="line">
            <br>
            <button class="btn"> Add Vacation</button>
            <br>
            <button class="btn-cal"> My Calender <i class="my fa-sharp fa-solid fa-angle-down"></i></button>
            <br>
            <button class="btn-cancel"> Cancel Calender<i class="d fa-sharp fa-solid fa-angle-down"></i></button>
            <br>
            <button class="btn-othertask"> Other Tasks<i class="dv fa-sharp fa-solid fa-angle-down"></i></button>
            <br> <button class="btn-My-Requests">My Requests<i class="request fa-solid fa-circle-plus"></i></button>
        </div>


        <div class="cl">

            <table class="table_show_cel">
                <tr class="view">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> 1 <br>
                        <p>1.5 litrs</p>
                    </td>
                    <td> 2
                        <p>1.5 litrs</p>
                    </td>
                    <td> 3
                        <p>1.5 litrs</p>
                    </td>
                </tr>
                <tr class="view">
                    <td>4
                        <p>1.5 litrs</p>
                    </td>
                    <td>5
                        <p>1.5 litrs</p>
                    </td>
                    <td>6
                        <p>1.5 litrs</p>
                    </td>
                    <td>7
                        <p>1.5 litrs</p>
                    </td>
                    <td>8
                        <p>1.5 litrs</p>
                    </td>
                    <td>9
                        <p>1.5 litrs</p>
                    </td>
                    <td>10
                        <p>1.5 litrs</p>
                    </td>
                </tr>
                <tr class="view">
                    <td>11
                        <p>1.5 litrs</p>
                    </td>
                    <td>12
                        <p>1.5 litrs</p>
                    </td>
                    <td>13
                        <p>1.5 litrs</p>
                    </td>
                    <td>14
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>15
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>16
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>17
                        <p><span>1.5 litrs</span></p>
                    </td>
                </tr>
                <tr class="view">
                    <td>18
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>19
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>20
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>21
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>22
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>23
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>24
                        <p><span>1.5 litrs</span></p>
                    </td>
                </tr>
                <tr class="view">
                    <td>25
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>26
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>27
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>28
                        <p><span>1.5 litrs</span></p>
                    </td>
                    <td>1
                        <span><p>1.5 litrs</p></span>
                    </td>
                    <td>2
                        <span><p>1.5 litrs</p></span></td>
                    <td>3
                        <span><p>1.5 litrs</p></span></td>
                </tr>
            </table>
        </div>

        <div class="col">

            <div class="task">
                Tasks <i class="space fa-sharp fa-solid fa-angle-down"></i>
            </div>

            <hr class="hr_line_D">
            <div class="text">
                Delivered</div>

            <hr class="hr_line_ND">
            <div class="text_nd">
                Not Delivered</div>

            <hr class="hr_line_UC">
            <div class="text_nd">
                Up coming
            </div>
            <hr class="hr_line_CR">
            <div class="text_nd">
                Change Request</div>


        </div>
    </div>
